/* work sans font from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,800;1,500&display=swap');


/* Shared Styles */

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.primary-color {
    color: #FF42A5;
}

.btn-primary {
    font-size: 1rem;
    font-weight: 600;
    padding: 21px 40px;
    border-radius: 48px;
    background-color: #FF42A5;
    color: white;
    border: 0;
}

/* Nav styles */
.site-logo {
    width: 85px;
    height: 40px;
}

.title {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
}

.site-title {
    display: flex;
    align-items: center;
}

nav {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 50px;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
}

.follow-btn {
    width: 262px;
    height: 56px;
    border-radius: 8px;
    padding: 10px 50px 10px 10px;
    background: rgba(11, 2, 35, 0.10);
}


/* banner section styles */

.banner-container {
    display: flex;
    gap: 50px;
    width: auto;
    height: 400px;
    justify-content: left;
    align-items: center;
    /* border: 2px dotted green; */
}

.banner-container li {
    list-style: none;
}

.banner-title-container {
    background-image: url("../images/Group\ 14.png");
    background-size: 100% 100%;
    /* border: 2px dotted red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.banner-btns-container {
    margin-top: 15px;
}


.banner-img {
    height: 100%;
    /* border: 2px dotted #4EC5F7; */
}

.banner-title {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-goat {
    font-size: 5.5rem;
    font-weight: 800;
    color: #F948B2
}

.btn-blue {
    margin-left: 20px;
    background-color: #4EC5F7;
}

/* card Section Styles */
.card-section {
    /* margin-top: 20px;
    margin-bottom: 20px; */
    width: 80%;
    margin: 20px auto;
}

.card-section-title {
    text-align: center;
    margin-bottom: 20px;
}

.card-title,
.instant-play-title {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
}

.card-desc,
.instant-play-desc {
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
}


.card {
    width: 342px;
    height: 340px;
    border-radius: 16px;
    text-align: center;
    /* border: 1px solid salmon; */
}

.card img {
    width: 90%;
    height: auto;
}

.card p {
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
}

/* instant Play styles */

.instant-play-section {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.instant-play-title-container {
    text-align: center;
}

.play-img-big {
    width: 300px;
}

.play-img-small {
    position: relative;
    left: 80px;
    top: 35px;
    width: 150px;
}

/* game buttons section */

.game-button-section {
    margin-top: 50px;
    background-color: rgba(255, 66, 165, 0.03);
    height: auto;
}

.game-button {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: white;
    width: 230px;
    height: 80px;
    border-radius: 50px;
}

.game-button img {
    padding-left: 10px;
}

.game-button h4 {
    color: #0B0223;
    font-size: 1.2rem;
    font-weight: 600;
}

.game-button:hover{
    border: 2px solid #F948B2;
    cursor: pointer;
}

.game-button:hover h4{
   color : #F948B2;
}

.game-button-container{
    width: 80%;
    padding-top: 50px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-content: space-between;

}


/* footer styles */
footer{
    background-color:  #0B0223;
    height: 500px;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 5x;
}
.txt-white{
    color: white;
}

.footer-link-container{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.footer-link-container li{
    list-style: none;
}


/* responsive styles */

@media screen and (max-width: 576px) {

    nav {
        flex-direction: column;
        height: 250px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .banner-container {
        flex-direction: column-reverse;
        background-size: 850px 650px;
        height: auto;
        gap: 10px;
    }

    .banner-img {
        width: 60%;
    }

    .banner-title-container {
        width: 80%;
    }

    .btn-blue {
        margin-left: 0px;
    }

    /* make cards responsive */

    .card-container {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .card img {
        width: 60%;
    }

    .card {
        width: 342px;
        height: 310px;

    }

    /* make instant play section responsive */
    .instant-play-section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (min-width: 576px) and (max-width: 992px) {

    nav {
        flex-direction: column;
        height: 250px;
    }

    .btn-blue {
        margin-left: 0px;
    }

    .banner-img {
        width: 40%;
    }

}



.hide {
    display: none;
}